<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Status: 404 Not found</title>
</head>
<body>
	<h1>FOUR Oh FOUR</h1>
	<h2>Your stuff wasn't found.</h2>
	<p>Nothing found at <%= path %></p>
	
</body>
</html>